<div class="awesome-box">
	<h1>Your favorite quote</h1>
	<h2>
		"
        <%= @quote.saying %>
		"
	</h2>

<p>
        <%= @quote.author %>
	</p>

<p>
	<% @quote.author %>
</p>
<h3>
	Rating:
	<% if @quote.rating %>
	<%= @quote.rating %>
	<% else%>
	<i>None</i>
	<% end %>
	</h3>

	</div>